# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/
.env

# Marimo temporary files
__marimo__/
.marimo/

# Generated Sidera projects
KÇ_Winter_*/
sidera/

# Sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Large databases
*.db
*.duckdb

# Pipeline generated outputs
logs/
reports/

# Krona generated results
krona_dashboard/outputs/

# Temporary files
tempCodeRunnerFile.py
